<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          This is trope: <%= @trope.title %> <%= link_to "edit", edit_trope_path(@trope)%>
        </h4>
      </div>

      <div class="modal-body">
        <h4><%= link_to "see all tropes", tropes_path %></h4>

        <div class="new-item">
          <%= link_to "click to create a new pane", new_trope_pane_path(@trope) %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- <h4>The count is: <%= @num_panes %> </h4> -->



<div class="tropecontainer">
  <% @trope.panes.each do |pane| %>

    <% if @num_panes == 1 %>
      <div class = "panel panel-default solo">

        <ul>
          <li>
            <%= link_to "#{pane.title}", trope_pane_path(@trope, pane) %>
          </li>

          <% pane.items.each do |item| %>
          <li class="main-items">
              <%= link_to "#{item.title}", "#{item.url}" %>
          </li>
          <% end %>
        </ul>
      </div>

    <% elsif @num_panes == 2 %>
      <div class = "panel panel-default duo">

        <ul>
          <li>
            <%= link_to "#{pane.title}", trope_pane_path(@trope, pane) %>
          </li>

          <% pane.items.each do |item| %>
          <li class="main-items">
              <%= link_to "#{item.title}", "#{item.url}" %>
          </li>
          <% end %>
        </ul>
      </div>

    <% elsif @num_panes == 3 %>
      <div class = "panel panel-default trio">

        <ul>
          <li>
            <%= link_to "#{pane.title}", trope_pane_path(@trope, pane) %>
          </li>

          <% pane.items.each do |item| %>
          <li class="main-items">
              <%= link_to "#{item.title}", "#{item.url}" %>
          </li>
          <% end %>
        </ul>
      </div>

    <% elsif @num_panes == 4 %>
      <div class = "panel panel-default quatro">

        <ul>
          <li>
            <%= link_to "#{pane.title}", trope_pane_path(@trope, pane) %>
          </li>

          <% pane.items.each do |item| %>
          <li class="main-items">
              <%= link_to "#{item.title}", "#{item.url}" %>
          </li>
          <% end %>
        </ul>
      </div>

    <% end %>

  <% end %>
</div>

<button type="button" id="foo-remove" class="btn pull-right btn-primary btn-fab btn-raised mdi-action-grade set-button" data-toggle="modal" data-target="#myModal">
</button>
