<h2>This is trope: <%= @trope.title %> <%= link_to "edit", edit_trope_path(@trope)%> </h2>

<ul>
  <li class="new-item">
    <%= link_to "click to create a new pane", new_trope_pane_path(@trope) %>
  </li>
  <% @trope.panes.each do |pane| %>
    <li>
      <%= link_to "#{pane.title}", trope_pane_path(@trope, pane) %>
      <ul>
        <li>
          <%= link_to 'add item', new_pane_item_path(pane) %>
        </li>
        <% pane.items.each do |item| %>
        <li>
            <%= "#{item.title}" %> <%= link_to 'edit', edit_pane_item_path(pane, item) %>
        </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h4><%= link_to "see all tropes", tropes_path %></h4>
